[submodule "crud-bench"]
	path = crud-bench
	url = https://github.com/surrealdb/crud-bench
[submodule "ann-benchmarks"]
	path = ann-benchmarks
	url = https://github.com/surrealdb/ann-benchmarks
	branch = surrealdb
[submodule "go-ycsb"]
	path = go-ycsb
	url = https://github.com/surrealdb/go-ycsb
	branch = surrealdb
[submodule "nosqlbench"]
	path = nosqlbench
	url = https://github.com/surrealdb/nosqlbench
	branch = surrealdb
